:root {
  --primary-100: #e7ecef;
  --primary-200: #e7f1f3;
  --primary-300: #c9dce0;
  --primary-400: #a3cdf0;
  --primary-500: #6196b9;

  --white: #ffffff;
  --gray-100: #eeeeee;
  --gray-200: #8b8c89;
}
