.hand {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hour {
  height: 100px;
}

.hour::after {
  content: "";
  width: 0.25rem;
  height: 3rem;
  border-radius: 20px;
  background-color: var(--primary-300);
  z-index: 1;
}

.minute {
  height: 136px;
}

.minute::after {
  content: "";
  width: 0.25rem;
  height: 4rem;
  border-radius: 20px;
  background-color: var(--primary-400);
  z-index: 2;
}

.second {
  height: 150px;
}

.second::after {
  content: "";
  width: 0.125rem;
  height: 6rem;
  border-radius: 20px;
  background-color: var(--gray-200);
  z-index: 3;
}
