.hand {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hour {
  width: 150px;
  height: 150px;
}

.hour::after {
  content: "";
  width: 0.5rem;
  height: 5rem;
  border-radius: 0.75rem;
  background-color: var(--primary-300);
  z-index: 2;
}

.minute {
  width: 186px;
  height: 186px;
}

.minute::after {
  content: "";
  width: 0.5rem;
  height: 6rem;
  border-radius: 0.75rem;
  background-color: var(--primary-400);
  z-index: 3;
}

.second {
  width: 200px;
  height: 200px;
}

.second::after {
  content: "";
  width: 0.2rem;
  height: 7.5rem;
  border-radius: 0.75rem;
  background-color: var(--gray-200);
  z-index: 4;
}
