.dial {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 10px solid var(--white);
  box-shadow: 6px 6px 16px var(--primary-200),
    inset 6px 6px 16px var(--primary-200);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
