.tool-tip {
  position: absolute;
  width: 180px;
  height: 40px;
  background-color: var(--gray-200);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tool-tip span {
  color: var(--white);
  font-size: 20px;
}
