div[class^="index_"] {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: var(--gray-200);
  z-index: 1;
}

.index_twelve {
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.index_three {
  top: 50%;
  right: 0.75rem;
}

.index_six {
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.index_nine {
  top: 50%;
  left: 0.75rem;
}
